@charset "UTF-8";
@import url(./common.css);
/*==================================================================*/
/* Top style css　*/
/*==================================================================*/
/* Page Settings */
/*------------------------------------*/
body {
    overflow-x: hidden;
}

.block {
    zoom: 1;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 40px;
}

.block: after {
    content: ".";
    clear: both;
    height: 0;
    display: block;
    visibility: hidden;
}

.block-title {
    float: left;
    width: 75px;
    text-indent: -9999px;
    display: none;
}

.mainarea: after {
    content: ".";
    clear: both;
    height: 0;
    display: block;
    visibility: hidden;
}

.mainarea h2 {
    margin-bottom: 35px;
    font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
    font-size: 2.2em;
    line-height: 1.6;
    letter-spacing: 0;
}

.mainarea h2 span {
    display: block;
}

.mainarea h2 em {
    color: #cb1212;
}

.mainarea .subcatch {
    margin-bottom: 5px;
    font-size: 1.2em;
    color: #bf7455;
    font-weight: bold;
}

/* -------------------------------------------- */
/* mainvisual */
/* -------------------------------------------- */
#mainvisual {
    width: 100%;
    height: calc(100vw * (645 / 1800));
    margin: 0 auto;
}

#mainvisual ul {
    position: relative;
    width: 100%;
    height: calc(100vw * (645 / 1800));
    padding: 0;
    margin: 0;
}

#mainvisual li {
    position: absolute;
    display: none;
    top: 0;
    width: 100vw;
    height: calc(100vw * (645 / 1800));
}

#mainvisual img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: calc(100vw * (645 / 1800));
}

/* -------------------------------------------- */
/* mainvisual-sp */
/* -------------------------------------------- */
#mainvisual-sp {
    display: none;
}

/*----------------------------
    写真現在位置
----------------------------*/
#photoNav {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    background: url(../img/bg_mainvisual.gif) 50% 0 no-repeat;
}

#photoNav ul {
    position: relative;
    text-align: center;
    padding-top: 1rem;
}

#photoNav li {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin: 0 4px;
}

#photoNav li: hover {
    cursor: pointer;
}

#photoNav li: hover img {
    opacity: 0.8;
}

/* -------------------------------------------- */
/* etsugao */
/* -------------------------------------------- */

#container .qanda {
    margin: 0 auto;
    max-width: 1000px;
    width: 100%;
}
#container .qanda img{
    width: 100%;
}

#etsugao {
    padding-top: 40px;
}

#etsugao .mainarea {
    overflow: hidden;
    padding-left: 2rem;
}

#etsugao .mainarea-left {
    width: 42%;
    float: left;
}

#etsugao .mainarea .photo {
    width: 55%;
    max-width: 570px;
    height: auto;
    float: right;
}

#etsugao .mainarea .photo img {
    width: 100%;
}

#etsugao .mainarea .read {
    text-indent: 1rem;
}

/* -------------------------------------------- */
/* echigosugi */
/* -------------------------------------------- */
#echigosugi {
    padding-top: 80px;
    background: transparent url("../img/bg_echigosugi.jpg") 50% 0 no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-bottom: 80px;
}

#echigosugi .block-title {
    height: 527px;
/*  background: transparent url("../img/title_echigosugi.png") 0 0 no-repeat;
*/}

#echigosugi .mainarea {
    text-align: center;
}

#echigosugi .mainarea .photo-wrapper ul {
    letter-spacing: -0.4em;
}

#echigosugi .mainarea .photo-wrapper ul li {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    margin: 0 10px;
    letter-spacing: normal;
}

#echigosugi .mainarea .read {
    margin-bottom: 60px;
}

/*スノービーチとは*/
#snowbeech {
    padding-top: 80px;
    background: transparent url("../img/bg_snowbeech.jpg") 50% 0 no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
        margin-bottom: 80px;
}
#snowbeech .block-title {
    height: 527px;
/*  background: transparent url("../img/title_echigosugi.png") 0 0 no-repeat;
*/}
#snowbeech .mainarea {
    text-align: center;
}
#snowbeech .mainarea .photo-wrapper ul li {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    margin: 0 10px;
    letter-spacing: normal;
}

#snowbeech .mainarea .read {
    margin-bottom: 60px;
}

/* -------------------------------------------- */
/* technique */
/* -------------------------------------------- */
#technique {
    padding-top: 80px;
}

#technique .block-title {
    height: 725px;
    background: transparent url("../img/title_technique.png") 0 0 no-repeat;
}

#technique .mainarea {
    text-align: center;
}

#technique .mainarea .title {
    margin-bottom: 15px;
}

#technique .mainarea .photo-area {
    margin-bottom: 30px;
    letter-spacing: -0.4em;
}

#technique .mainarea .photo-area li {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    letter-spacing: normal;
}

#technique .mainarea .read {
    margin-bottom: 30px;
}

/* -------------------------------------------- */
/* design */
/* -------------------------------------------- */
#design {
    padding-top: 80px;
    background: transparent url("../img/bg_design.jpg") 50% 0 no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#design .block-title {
    height: 615px;
    background: transparent url("../img/title_design.png") 0 0 no-repeat;
}

#design .mainarea {
    text-align: center;
}

#design .mainarea .photo-area {
    margin-bottom: 30px;
    letter-spacing: -0.4em;
}

#design .mainarea .photo-area li {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    margin: 8px 0;
    letter-spacing: normal;
}

#design .mainarea .read {
    margin-bottom: 30px;
}

/* -------------------------------------------- */
/* voice */
/* -------------------------------------------- */
#voice {
    padding-top: 150px;
    background: transparent url("../img/bg_voice.jpg") 50% 0 no-repeat;
}

#voice .block-title {
    height: 563px;
    background: transparent url("../img/title_voice.png") 0 0 no-repeat;
}

#voice .mainarea {
    text-align: center;
}

#voice .mainarea .read {
    margin-bottom: 60px;
}

#voice .mainarea .voice {
    position: relative;
    width: 1080px;
    margin: 0 auto 80px;
    border-left: 1px solid #a89a90;
    border-right: 1px solid #6a3112;
    background: transparent url("../img/bg_voice.gif") 50% 50% no-repeat;
}

#voice .mainarea .voice .case {
    position: absolute;
    left: -40px;
    top: -40px;
}

#voice .mainarea .voice .bd-top {
    margin: 0;
}

#voice .mainarea .voice .box {
    padding: 50px;
}

#voice .mainarea .voice .box h3 {
    margin-bottom: 20px;
    font-size: 3.2em;
    font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
    text-shadow: 0 0 10px black;
    letter-spacing: -2px;
    line-height: 1.4;
}

#voice .mainarea .voice .box h3 span {
    display: block;
}

#voice .mainarea .voice .box h3 em {
    color: #e17b31;
}

#voice .mainarea .voice .box .inner {
    zoom: 1;
}

#voice .mainarea .voice .box .inner: after {
    content: ".";
    clear: both;
    height: 0;
    display: block;
    visibility: hidden;
}

#voice .mainarea .voice .box .inner .photo {
    padding-top: 10px;
    width: 550px;
}

#voice .mainarea .voice .box .inner .message {
    width: 380px;
    padding-bottom: 50px;
    background: transparent url("../img/bg_message_bottom.png") 0 100% no-repeat;
    text-align: left;
}

#voice .mainarea .voice .box .inner .message .bg-message-top {
    margin-bottom: 20px;
}

#voice .mainarea .voice .box .inner .message .note {
    margin-bottom: 20px;
    padding: 0 10px;
}

#voice .mainarea .voice .box .inner .message .name {
    text-align: right;
}

#voice .mainarea .voice .box .inner .left {
    float: left;
}

#voice .mainarea .voice .box .inner .right {
    float: right;
}

/* -------------------------------------------- */
/* gene */
/* -------------------------------------------- */
.gene {
    padding-bottom: 160px;
    background: transparent url("../img/bg_sign.gif") 50% 100% no-repeat;
    text-align: center;
}

.gene dt {
    width: 1200px;
    margin: 0 auto 30px;
}

.gene dd {
    width: 1200px;
    margin: 0 auto;
}

/* -------------------------------------------- */
/* sign */
/* -------------------------------------------- */
#sign .block-title {
    height: 531px;
    background: transparent url("../img/title_sign.png") 0 0 no-repeat;
}

#sign .mainarea {
    position: relative;
    width: 580px;
    padding-left: 500px;
}

#sign .mainarea .photo {
    position: absolute;
    left: 0;
    top: 0;
}

#sign .mainarea .read {
    margin-bottom: 30px;
}

#sign .mainarea .fig {
    text-align: right;
}

/* -------------------------------------------- */
/* message */
/* -------------------------------------------- */
#message {
    padding-top: 80px;
    background: transparent url("../img/bg_message.jpg") 50% 0 no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#message .block-title {
    height: 651px;
    background: transparent url("../img/title_message.png") 0 0 no-repeat;
}

#message .mainarea .read {
    width: 500px;
    margin-bottom: 30px;
}

#message .mainarea .photo {
    margin-bottom: 30px;
}

#message .mainarea .photo dt {
    margin-bottom: 10px;
}

#message .mainarea .photo dd {
    text-align: left;
}

#message .mainarea .unki {
    margin-bottom: 20px;
    padding: 25px;
    border: 1px solid white;
    background: transparent url("../img/message_destiny_bg.png") 100% 0 no-repeat;
}

#message .mainarea .unki h3 {
    margin-bottom: 15px;
    padding-left: 20px;
    background: transparent url("../img/eyecatch_unki.gif") 0 0 no-repeat;
    font-size: 1.8em;
    font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
    line-height: 1.3;
}

#message .mainarea .unki dl.special dt {
    margin-bottom: 5px;
    font-size: 1.2em;
    font-weight: bold;
}

#message .mainarea .unki dl.special dd ol {
    padding-left: 40px;
}

#message .mainarea .unki dl.special dd ol li {
    list-style-type: decimal;
}

/* -------------------------------------------- */
/* about */
/* -------------------------------------------- */
#about {
    padding-top: 80px;
    background: transparent url("../img/bg_about.jpg") 100% 0 no-repeat;
}

#about .block-title {
    height: 604px;
    background: transparent url("../img/title_about.png") 0 0 no-repeat;
}

#about .mainarea {
    padding-bottom: 80px;
}

#about .mainarea .title {
    margin-bottom: 40px;
    text-align: center;
}

#about .mainarea .inner {
    zoom: 1;
}

#about .mainarea .inner: after {
    content: ".";
    clear: both;
    height: 0;
    display: block;
    visibility: hidden;
}

#about .mainarea .inner .info {
    float: left;
    width: 430px;
}

#about .mainarea .inner .info .note {
    margin-bottom: 20px;
}

#about .mainarea .inner .info dl.compare {
    margin-bottom: 30px;
}

#about .mainarea .inner .info dl.compare dt {
    margin-bottom: 5px;
}

#about .mainarea .inner .info dl.compare dd table {
    margin-bottom: 5px;
    border: 1px solid white;
    border-style: solid none none solid;
}

#about .mainarea .inner .info dl.compare dd table td ,#about .mainarea .inner .info dl.compare dd table th {
    padding: 6px;
    border: 1px solid white;
    border-style: none solid solid none;
    text-align: center;
}

#about .mainarea .inner .info dl.compare dd table thead th {
    background-color: #3a190d;
}

#about .mainarea .inner .info dl.compare dd table tbody th {
    background-color: #463c39;
}

#about .mainarea .inner .info dl.compare dd table tbody .data-gene th ,#about .mainarea .inner .info dl.compare dd table tbody .data-gene td {
    background-color: #8a1313;
}

#about .mainarea .inner .info .plate {
    zoom: 1;
    padding: 20px;
    border: 1px solid white;
}

#about .mainarea .inner .info .plate: after {
    content: ".";
    clear: both;
    height: 0;
    display: block;
    visibility: hidden;
}

#about .mainarea .inner .info .plate .photo {
    float: left;
    width: 170px;
}

#about .mainarea .inner .info .plate .detail {
    float: right;
    width: 200px;
}

#about .mainarea .inner .info .plate .detail h3 {
    margin: 0 auto 12px;
    padding-bottom: 12px;
    border-bottom: 1px dotted white;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1.4;
}

#about .mainarea .inner .info .plate .detail h3 span {
    display: block;
}

#about .mainarea .inner .info .plate .detail p {
    font-size: 0.9em;
    line-height: 1.7;
}

#about .line {
    text-align: center;
}

/* -------------------------------------------- */
/* lineup */
/* -------------------------------------------- */
#lineup {
    margin: 0 auto 40px;
    padding-top: 80px;
}

#lineup .block-title {
    height: 586px;
    background: transparent url("../img/title_lineup.png") 0 0 no-repeat;
}

#lineup table {
    background: #FFFFFF;
}

#lineup table th ,#lineup table td {
    padding: 18px 10px;
    text-align: center;
}

#lineup table .detail {
    width: 13%;
}

#lineup table .price {
    font-weight: bold;
    font-size: 1.1em;
    color: #ce1f1f;
}

#lineup table .dot th ,#lineup table .dot td {
    border-bottom: 1px dotted #666666;
}

#lineup table thead .dot th {
    border-bottom: 3px double #666666;
}

#lineup table tbody .dot td span {
    display: block;
    font-size: 0.7em;
    font-weight: normal;
    letter-spacing: 0;
    color: #666666;
}

#lineup table tbody th {
    background-color: #d1d1d1;
}

/* -------------------------------------------- */
/* lineup-sp */
/* -------------------------------------------- */
#lineup-sp {
    display: none;
}

/* -------------------------------------------- */
/* lineup_option */
/* -------------------------------------------- */
#lineup_option {
    margin: 0 auto;
    padding-top: 80px;
}

#lineup_option .block-title {
    height: 586px;
    background: transparent url("../img/title_lineup_option.png") 0 0 no-repeat;
}

#lineup_option table {
    background: #FFFFFF;
}

#lineup_option table th ,#lineup_option table td {
    padding: 18px 10px;
    text-align: center;
}

#lineup_option table .detail {
    width: 13%;
}

#lineup_option table .price {
    font-weight: bold;
    font-size: 1.1em;
    color: #ce1f1f;
}

#lineup_option table .dot th ,#lineup_option table .dot td {
    border-bottom: 1px dotted #666666;
}

#lineup_option table thead .dot th {
    border-bottom: 3px double #666666;
}

#lineup_option table tbody .dot td span {
    display: block;
    font-size: 0.7em;
    font-weight: normal;
    letter-spacing: 0;
    color: #666666;
}

#lineup_option table tbody th {
    background-color: #d1d1d1;
}

/* -------------------------------------------- */
/* lineup-sp */
/* -------------------------------------------- */
#lineup_option-sp {
    display: none;
}

/* -------------------------------------------- */
/* QA-banner */
/* -------------------------------------------- */
div.qanda>a>img.banner-sp {display: none; height: 0;}
div.qanda>a>img.banner-pc {display: inline; height: auto;}

/* -------------------------------------------- */
/* footer */
/* -------------------------------------------- */
#footer {
    height: 94px;
    background: black url("../img/footer/footer_bg.gif") 0 0 repeat-x;
}

#footer p {
    margin-top: 35px;
    padding-top: 35px;
    font-size: 0.9em;
    text-align: center;
}

/* -------------------------------------------- */
/* menu */
/* -------------------------------------------- */
#menu {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    z-index: 9999;
}

#menu .inner {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

#menu .inner>ul {
    overflow: hidden;
}

#menu .inner ul li {
    display: -moz-inline-stack;
    /* display: inline-block; */
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
}

#menu .inner ul li a {
    display: block;
    color: #000000;
    font-size: 0.9em;
    text-decoration: none;
    padding: 20px 0 20px 20px;
}

#menu .inner ul li a: hover {
    opacity: 0.8;
}

#menu .inner ul .m-home a {
    /* padding: 20px 30px; */
    float: left;
}

#menu .inner ul .m-etsugao a {
    /* padding: 20px 20px; */
    float: left;
}

#menu .inner ul .m-echigosugi a {
    /* padding: 20px 20px; */
    float: left;
}

#menu .inner ul .m-craftman a {
    /* padding: 20px 40px; */
    margin-right: 155px;
    float: left;
}

#menu .inner ul .m-horebore a {
    /* padding: 20px 20px; */
    float: right;
}

#menu .inner ul .m-rakuten a {
    /* padding: 20px 25px; */
    padding-right: 20px;
    float: right;
}

#menu .inner ul .m-lineup a {
    /* padding: 20px 20px; */
    padding-right: 20px;
    float: right;
    background-color: #a44237;
    color: white;
}

#menu .inner .logo {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -62px;
}

.logo-sp {
    display: none;
}

.slicknav_menu {
    display: none;
    color: #fff;
}
/*ぬるぬるの設定*/
#page_top {
    width: 100px;
    height: 60px;
    position: fixed;
    right: .5rem;
    bottom: .5rem;
    background: #F3F3F3;
    opacity: 0.8;
    border-radius: 15px;
}
#page_top a {
    position: relative;
    display: block;
    width: 100px;
    height: 60px;
    text-decoration: none;
}
#page_top a::before {
    font-family: FontAwesome;
    content: '\f106';
    font-size: 25px;
    color: #434343;
    position: absolute;
    width: 25px;
    height: 25px;
    top: -35px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
}
#page_top a::after {
    content: 'PAGE TOP';
    font-size: 13px;
    color: #434343;
    position: absolute;
    top: 30px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
}
/*===========================================================================*/
/*  phone  */
/*===========================================================================*/
@media screen and (max-width: 767px) {
/* Page Settings
------------------------------------------------------------------------ */
.block {
      width: 95%;
      margin: 0 auto;
      margin-bottom: 20px;
}

.block-title {
    display: block;
      float: none;
      width: 100%;
      margin-bottom: 20px;
      padding-top: 8px;
      font-size: 1.5em;
      color: #000000;
      font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
      text-indent: 0;
      text-align: center;
}

.mainarea {
      float: none;
      width: 100%;
}

.mainarea .subcatch {
      font-size: 0.9em;
      text-align: center;
}

.mainarea h2 {
      margin-bottom: 20px;
      font-size: 1.4em;
      line-height: 1.4;
      text-align: center;
}

.mainarea h2 span {
      display: inline;
}

#topcontrol {
      display: none;
}

.logo-sp {
      position: fixed;
      display: block;
      top: 7px;
      left: 15px;
      z-index: 9999;
}

.logo-sp img {
      width: 65px;
      height: auto;
}

/* mainvisual
------------------------------------------------------------------------ */
#mainvisual {
      margin-bottom: 0;
      display: none;
}

#mainvisual ul {
      height: auto;
}

#mainvisual ul li {
      position: static;
      width: 100%;
      height: auto;
      margin-left: 0;
}

#mainvisual ul li img {
      position: static;
      max-width: 100%;
      width: 100%;
      height: auto;
}

/* mainvisual-sp
------------------------------------------------------------------------ */
#mainvisual-sp {
      display: block;
      width: 100%;
}

#mainvisual-sp img {
      width: 100%;
}

/* slick
------------------------------------------------------------------------ */
.js #menu {
      display: none;
}

.js .slicknav_menu {
      display: block;
      position: fixed;
      padding: 0;
      top: 0;
      width: 100%;
      z-index: 9999;
}

.js .slicknav_menu .logo {
      display: none;
}

.js .slicknav_menu ul {
      overflow: visible;
      -webkit-box-shadow: 0 7px 15px 0 rgba(255, 255, 255, 0.4);
      box-shadow: 0 7px 15px 0 rgba(255, 255, 255, 0.4);
}

.slicknav_menu .slicknav_nav {
      overflow: visible;
}

/* photonav
------------------------------------------------------------------------ */
#photoNav {
      display: none;
      position: static;
      margin-left: 0;
      width: 100%;
}

/* etsugao
------------------------------------------------------------------------ */

#etsugao .block-title {
    background: transparent;
      height: auto;
}

#etsugao .mainarea {
      position: static;
      padding-left: .5em;
      padding-right: .5em;
}

#etsugao .mainarea-left {
    width: auto;
    float: none;
}

#etsugao .mainarea h2 {
      padding-top: 2rem;
}

#etsugao .mainarea .photo {
      position: static;
      text-align: center;
      float: none;
      width: auto;
}

#etsugao .mainarea .photo img {
      /* width: 75%; */
}

#etsugao .mainarea .read {
      width: 100%;
}

/* echigosugi
------------------------------------------------------------------------ */
#echigosugi,#snowbeech{
      padding-bottom: 30px;
    padding-top: 60px;
}

#echigosugi .block-title,#snowbeech .block-title {
      /* background: transparent url("../img/bg_title_line.gif") 50% 0 no-repeat; */
    background: transparent;
      height: auto;
}

#echigosugi .mainarea h2,#snowbeech .mainarea h2 {
      margin-bottom: 30px;
}

#echigosugi .mainarea .read,#snowbeech .mainarea .read {
      width: 100%;
      margin-bottom: 40px;
      text-align: left;
}

#echigosugi .mainarea .photo-wrapper ul li,#snowbeech .mainarea .photo-wrapper ul li {
      width: 30%;
      margin: 0 5px;
}

#echigosugi .mainarea .photo-wrapper ul li img,#snowbeech .mainarea .photo-wrapper ul li img {
      width: 100%;
}

/* technique
------------------------------------------------------------------------ */
/* #technique .block-title { */
  /*  background: transparent url("../img/bg_title_line.gif") 50% 0 no-repeat; */
  /*  height: auto; */
/* } */

#technique .mainarea {
      width: 100%;
      padding: 0;
}

#technique .mainarea .title img {
      width: 100%;
}

#technique .mainarea h2 {
      margin-bottom: 30px;
}

#technique .mainarea .read {
      width: 100%;
      margin-bottom: 40px;
      text-align: left;
}

#technique .mainarea .photo-area {
      margin-bottom: 20px;
      text-align: center;
}

#technique .mainarea .photo-area li {
      width: 95%;
      margin: 0 auto;
}

#technique .mainarea .photo-area li img {
      width: 80%;
}

/* design
------------------------------------------------------------------------ */
#design .block {
      margin-bottom: 0;
}

/* #design .block-title { */
  /*  background: transparent url("../img/bg_title_line.gif") 50% 0 no-repeat; */
  /*  height: auto; */
  /*  color: #fff; */
/* } */

#design .mainarea {
      width: 100%;
      padding: 0;
}

#design .mainarea h2 {
      margin-bottom: 30px;
}

#design .mainarea .read {
      width: 100%;
      margin-bottom: 40px;
      text-align: left;
}

#design .mainarea .photo-area {
      margin-bottom: 20px;
      text-align: center;
}

#design .mainarea .photo-area li {
      width: 95%;
      margin: 0 auto 15px;
}

#design .mainarea .photo-area li img {
      width: 80%;
}

/* voice
------------------------------------------------------------------------ */
#voice {
      width: 100%;
      -moz-background-size: 600px auto;
      background-size: 600px auto;
}

/* #voice .block-title { */
  /*  background: transparent url("../img/bg_title_line.gif") 50% 0 no-repeat; */
  /*  height: auto; */
  /*  color: #fff; */
/* } */

#voice .mainarea {
      width: 100%;
      padding: 0;
}

#voice .mainarea h2 {
      margin-bottom: 30px;
}

#voice .mainarea .read {
      width: 100%;
      margin-bottom: 20px;
      text-align: left;
}

#voice .mainarea .voice {
      position: static;
      width: 100%;
      border: none;
      background: none;
}

#voice .mainarea .voice .case {
      position: static;
      margin-bottom: 10px;
      text-align: center;
}

#voice .mainarea .voice .bd-top {
      display: none;
}

#voice .mainarea .voice .box {
      padding: 0;
}

#voice .mainarea .voice .box h3 {
      margin-bottom: 15px;
      font-size: 1.8em;
      line-height: 1.4;
}

#voice .mainarea .voice .box h3 span {
      display: inline;
}

#voice .mainarea .voice .box .inner .left {
      float: none;
}

#voice .mainarea .voice .box .inner .right {
      float: none;
}

#voice .mainarea .voice .box .inner .photo {
      width: 100%;
      margin-bottom: 20px;
}

#voice .mainarea .voice .box .inner .message {
      width: 100%;
      padding: 0;
      background: none;
}

#voice .mainarea .voice .box .inner .message .bg-message-top {
      display: none;
}

#voice .mainarea .voice .box .inner .message .note {
      padding: 0;
}

#voice .mainarea .voice .bd-bottom {
      display: none;
}

/* gene
------------------------------------------------------------------------ */
.gene {
      width: 100%;
      margin: -50px auto 50px;
      padding-bottom: 50px;
      -moz-background-size: 450px auto;
      background-size: 450px auto;
}

.gene dt {
      width: 95%;
      margin-bottom: 20px;
}

.gene dd {
      width: 95%;
}

/* sign
------------------------------------------------------------------------ */
#sign .block {
      margin-bottom: 0;
}

/* #sign .block-title { */
  /*  background: transparent url("../img/bg_title_line.gif") 50% 0 no-repeat; */
  /*  height: auto; */
  /*  color: #fff; */
/* } */

#sign .mainarea {
      position: static;
      width: 100%;
      padding: 0;
}

#sign .mainarea h2 {
      margin-bottom: 30px;
}

#sign .mainarea .photo {
      position: static;
      margin-bottom: 20px;
      text-align: center;
}

#sign .mainarea .photo img {
      width: 70%;
}

#sign .mainarea .read {
      width: 100%;
      margin-bottom: 40px;
      text-align: left;
}

#sign .mainarea .fig {
      text-align: center;
}

#sign .mainarea .fig img {
      width: 70%;
}

/* message
------------------------------------------------------------------------ */
#message .block {
      margin-bottom: 0;
}

#message .block-title {
      /* background: transparent url("../img/bg_title_line.gif") 50% 0 no-repeat; */
    background: transparent;
      height: auto;
      color: #fff;
}

#message .mainarea {
      width: 100%;
      padding: 0;
}

#message .mainarea h2 {
      margin-bottom: 30px;
}

#message .mainarea .photo {
      margin-bottom: 20px;
      text-align: center;
}

#message .mainarea .read {
      width: 100%;
      margin-bottom: 40px;
      text-align: left;
}

#message .mainarea .unki {
      background: none;
      padding: 20px;
}

#message .mainarea .unki h3 {
      font-size: 1.5em;
}

/* about
------------------------------------------------------------------------ */
#about {
      background: none;
}

#about .block {
      margin-bottom: 0;
      padding-bottom: 0;
}

#about .block-title {
      /* background: transparent url("../img/bg_title_line.gif") 50% 0 no-repeat; */
    background: transparent;
      height: auto;
      color: #fff;
}

#about .mainarea {
      width: 100%;
      padding: 0 0 50px;
}

#about .mainarea .title {
      display: none;
}

#about .mainarea h2 {
      margin-bottom: 30px;
}

#about .mainarea .inner .info {
      float: none;
      width: 100%;
}

#about .mainarea .inner .info .compare dd table {
      width: 100%;
}

#about .mainarea .inner .info .plate {
      margin-bottom: 30px;
}

#about .mainarea .inner .info .plate .photo {
      float: none;
      width: 100%;
      margin-bottom: 15px;
      text-align: center;
}

#about .mainarea .inner .info .plate .detail {
      float: none;
      width: 100%;
}

#about .mainarea .inner .info .plate .detail h3 span {
      display: inline;
}

/* lineup
------------------------------------------------------------------------ */
#lineup table {
      display: none;
}

#lineup .block {
      margin-bottom: 0;
}

#lineup .block-title {
      /* background: transparent url("../img/bg_title_line.gif") 50% 0 no-repeat; */
    background: transparent;
      height: auto;
      color: #000000;
}

/* lineup-sp
------------------------------------------------------------------------ */
#lineup-sp {
      display: block;
      width: 95%;
      margin: -50px auto 80px;
}

#lineup-sp .box {
      margin-bottom: 40px;
      padding-bottom: 40px;
      border-bottom: 1px solid #919191;
      text-align: center;
}

#lineup-sp .box .photo {
      margin-bottom: 15px;
}

#lineup-sp .box table {
      border: 1px solid white;
      border-style: solid none none solid;
}

#lineup-sp .box table th ,#lineup-sp .box table td {
      padding: 4px 0;
      border: 1px solid white;
      border-style: none solid solid none;
      line-height: 1.5;
      letter-spacing: 0;
      text-align: center;
}

#lineup-sp .box table th span ,#lineup-sp .box table td span {
      color: #ce1f1f;
      font-size: 1.2em;
      font-weight: bold;
}

#lineup-sp .box table th {
      width: 40%;
      background-color: #d1d1d1;
}

#lineup-sp .box .btn {
      display: -moz-inline-stack;
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      zoom: 1;
      *display: inline;
      width: 100%;
      text-align: center;
}

#lineup-sp .box .btn a {
      display: block;
      padding: 5px 10px;
      border-radius: 3px;
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0.51, #8c1414), color-stop(0.5, #a02727));
      background: -webkit-linear-gradient(top, #a02727 50%, #8c1414 51%);
      background: -moz-linear-gradient(top, #a02727 50%, #8c1414 51%);
      background: -o-linear-gradient(top, #a02727 50%, #8c1414 51%);
      background: -ms-linear-gradient(top, #a02727 50%, #8c1414 51%);
      background: linear-gradient(top, #a02727 50%, #8c1414 51%);
      color: #fff;
      font-size: 1.2em;
      letter-spacing: 0;
      text-decoration: none;
}

/* lineup_option
------------------------------------------------------------------------ */
#lineup_option table {
      display: none;
}

#lineup_option .block {
      margin-bottom: 0;
}

#lineup_option .block-title {
      /* background: transparent url("../img/bg_title_line.gif") 50% 0 no-repeat; */
    background: transparent;
      height: auto;
      color: #000000;
}



/* lineup_option-sp
------------------------------------------------------------------------ */
#lineup_option-sp {
      display: block;
      width: 95%;
      margin: -50px auto 0;
}

#lineup_option-sp .box {
      margin-bottom: 40px;
      padding-bottom: 40px;
      border-bottom: 1px solid #919191;
      text-align: center;
}

#lineup_option-sp .box .photo {
      margin-bottom: 15px;
}

#lineup_option-sp .box table {
      border: 1px solid white;
      border-style: solid none none solid;
}

#lineup_option-sp .box table th ,#lineup_option-sp .box table td {
      padding: 4px 0;
      border: 1px solid white;
      border-style: none solid solid none;
      line-height: 1.5;
      letter-spacing: 0;
      text-align: center;
}

#lineup_option-sp .box table th span ,#lineup_option-sp .box table td span {
      color: #ce1f1f;
      font-size: 1.2em;
      font-weight: bold;
}

#lineup_option-sp .box table th {
      width: 40%;
      background-color: #d1d1d1;
}

#lineup_option-sp .box .btn {
      display: -moz-inline-stack;
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      zoom: 1;
      *display: inline;
      width: 100%;
      text-align: center;
}

#lineup_option-sp .box .btn a {
      display: block;
      padding: 5px 10px;
      border-radius: 3px;
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0.51, #8c1414), color-stop(0.5, #a02727));
      background: -webkit-linear-gradient(top, #a02727 50%, #8c1414 51%);
      background: -moz-linear-gradient(top, #a02727 50%, #8c1414 51%);
      background: -o-linear-gradient(top, #a02727 50%, #8c1414 51%);
      background: -ms-linear-gradient(top, #a02727 50%, #8c1414 51%);
      background: linear-gradient(top, #a02727 50%, #8c1414 51%);
      color: #fff;
      font-size: 1.2em;
      letter-spacing: 0;
      text-decoration: none;
}

/* QA-banner
------------------------------------------------------------------------ */
div.qanda>a>img.banner-pc {display: none; height: 0;}
div.qanda>a>img.banner-sp {display: inline; height: auto;}

/* footer
------------------------------------------------------------------------ */
#footer {
      height: auto;
}

#footer p {
      padding-bottom: 25px;
}
}
